<div fxLayoutAlign="center start">
  <div class="container">
    <h1>{{ text.sign_up }}</h1>
    <mat-card>
      <mat-vertical-stepper>

        <!-- Sign up Step 1 -->
        <mat-step [stepControl]="step1">
          <ng-template matStepLabel>
            {{ text.sign_up_step1 }}: {{ text.sign_up_step1_title }}
          </ng-template>
          <form [formGroup]="step1" novalidate>
            <div ngClass.xs="container-step-xs" ngClass.gt-xs="container-step">

              <div class="row" fxLayout="row">
                <mat-checkbox formControlName="checkAll" (change)="clickCheckAll()">{{ text.check_all }}</mat-checkbox>
              </div>

              <div class="row" fxLayout="row" fxLayoutAlign="start center">
                <k-mat-notice-text [size]="0.8" [status]="checkError('agreement') ? 'danger' : 'success'" [text]="text.sign_up_step1_error">
                </k-mat-notice-text>
              </div>

              <div class="row" fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex>
                  <button mat-button class="button-term" (click)="openTermsDialog(1)">{{ text.terms_of_service }}</button>
                </div>
                <mat-checkbox formControlName="checkTOS" (change)="clickCheck()" required></mat-checkbox>
              </div>

              <div class="row" fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex>
                  <button mat-button class="button-term" (click)="openTermsDialog(2)">{{ text.privacy_policy }}</button>
                </div>
                <mat-checkbox formControlName="checkPP" (change)="clickCheck()" required></mat-checkbox>
              </div>

              <div class="row" fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex>
                  <button mat-button class="button-term" (click)="openTermsDialog(3)">
                    {{ text.user_location }}
                    <span class="text-option">({{ text.option }})</span>
                  </button>
                </div>
                <mat-checkbox formControlName="checkUL" (change)="clickCheck()"></mat-checkbox>
              </div>

            </div>
          </form>

          <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-button matStepperNext [disabled]="step1.invalid">{{ text.next }}</button>
          </div>
        </mat-step>

        <!-- Sign up Step 2 -->
        <mat-step [stepControl]="step2">
          <ng-template matStepLabel>
            {{ text.sign_up_step2 }}: {{ text.sign_up_step2_title }}
          </ng-template>
          <form [formGroup]="step2" novalidate>
            <div ngClass.xs="container-step-xs" ngClass.gt-xs="container-step">

              <div class="row" fxLayout="row">
                <label class="input-label" fxHide.xs fxLayoutAlign="end center">{{ text.email }}</label>
                <mat-form-field fxFlex>
                  <input matInput formControlName="email" placeholder="{{ text.email_placeholder }}" required>
                  <mat-error *ngIf="step2.controls.email.hasError('required')">{{ text.require }}</mat-error>
                  <mat-error *ngIf="step2.controls.email.hasError('invalid')">{{ text.email_error.invalid }}</mat-error>
                  <mat-error *ngIf="step2.controls.email.hasError('already')">{{ text.email_error.already }}</mat-error>
                </mat-form-field>
              </div>

              <div class="row include-message" fxLayout="row">
                <label class="input-label" fxHide.xs fxLayoutAlign="end center">{{ text.password }}</label>
                <mat-form-field fxFlex>
                  <input matInput formControlName="password" placeholder="{{ text.password_placeholder }}" [type]="isHidePassword ? 'password' : 'text'"
                    required>
                  <mat-hint fxLayout="column">
                    <k-mat-notice-text [size]="1" [status]="checkError('password', 'minlength') ? 'danger' : 'success'" [text]="text.password_error.minlength">
                    </k-mat-notice-text>
                    <k-mat-notice-text [size]="1" [status]="checkError('password', 'maxlength') ? 'danger' : 'success'" [text]="text.password_error.maxlength">
                    </k-mat-notice-text>
                    <k-mat-notice-text [size]="1" [status]="checkError('password', 'alphabet') ? 'danger' : 'success'" [text]="text.password_error.letter">
                    </k-mat-notice-text>
                    <k-mat-notice-text [size]="1" [status]="checkError('password', 'number') ? 'danger' : 'success'" [text]="text.password_error.number">
                    </k-mat-notice-text>
                    <k-mat-notice-text [size]="1" [status]="checkError('password', 'special') ? 'danger' : 'success'" [text]="text.password_error.special">
                    </k-mat-notice-text>
                  </mat-hint>
                </mat-form-field>
              </div>

              <div class="row" fxLayout="row">
                <label class="input-label" fxHide.xs fxLayoutAlign="end center">{{ text.confirm_password }}</label>
                <mat-form-field fxFlex>
                  <input matInput formControlName="confirm" placeholder="{{ text.confirm_password_placeholder }}" [type]="isHidePassword ? 'password' : 'text'"
                    required>
                  <mat-error *ngIf="step2.controls.confirm.hasError('required')">{{ text.require }}</mat-error>
                  <mat-error *ngIf="step2.controls.confirm.hasError('confirm')">{{ text.confirm_password_error.confirm }}</mat-error>
                  <mat-error *ngIf="step2.controls.confirm.hasError('password')">{{ text.confirm_password_error.password }}</mat-error>
                  <mat-icon matSuffix (click)="isHidePassword = !isHidePassword">{{ isHidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </mat-form-field>
              </div>

            </div>
          </form>

          <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-button matStepperPrevious>{{ text.prev }}</button>
            <button mat-button matStepperNext [disabled]="step2.invalid">{{ text.next }}</button>
          </div>
        </mat-step>

        <!-- Sign up Step 3 -->
        <mat-step [stepControl]="step3">
          <ng-template matStepLabel>
            {{ text.sign_up_step3 }}: {{ text.sign_up_step3_title }}
          </ng-template>
          <form [formGroup]="step3" novalidate>
            <div ngClass.xs="container-step-xs" ngClass.gt-xs="container-step">

              <div class="row include-message" fxLayout="row">
                <label class="input-label" fxHide.xs fxLayoutAlign="end center">{{ text.nickname }}</label>
                <mat-form-field fxFlex>
                  <span matPrefix>@</span>
                  <input matInput formControlName="nickname" placeholder="{{ text.nickname_placeholder }}" required>
                  <mat-hint fxLayout="column">
                    <k-mat-notice-text [size]="1" [status]="checkError('nickname', 'minlength') ? 'danger' : 'success'" [text]="text.nickname_error.minlength">
                    </k-mat-notice-text>
                    <k-mat-notice-text [size]="1" [status]="checkError('nickname', 'maxlength') ? 'danger' : 'success'" [text]="text.nickname_error.maxlength">
                    </k-mat-notice-text>
                    <k-mat-notice-text [size]="1" [status]="checkError('nickname', 'first') ? 'danger' : 'success'" [text]="text.nickname_error.first">
                    </k-mat-notice-text>
                    <k-mat-notice-text [size]="1" [status]="checkError('nickname', 'letter') ? 'danger' : 'success'" [text]="text.nickname_error.letter">
                    </k-mat-notice-text>
                    <k-mat-notice-text [size]="1" [status]="checkError('nickname', 'already') ? 'danger' : 'success'" [text]="text.nickname_error.already">
                    </k-mat-notice-text>
                  </mat-hint>
                </mat-form-field>
              </div>

              <div class="row" fxLayout="row">
                <label class="input-label" fxHide.xs fxLayoutAlign="end center">{{ text.name }}</label>
                <mat-form-field fxFlex>
                  <input matInput formControlName="name" placeholder="{{ text.name_placeholder }}">
                </mat-form-field>
              </div>

              <div class="row" fxLayout="row">
                <label class="input-label" fxHide.xs fxLayoutAlign="end center">{{ text.gender }}</label>
                <mat-form-field fxFlex>
                  <k-mat-radios formControlName="gender" placeholder="{{ text.gender }}" [items]="gender"></k-mat-radios>
                </mat-form-field>
              </div>

              <div class="row" fxLayout="row">
                <label class="input-label" fxHide.xs fxLayoutAlign="end center">{{ text.birth_date }}</label>
                <mat-form-field fxFlex>
                  <k-mat-date-input formControlName="birthDate" [startyear]="1950" placeholder="{{ text.birth_date_placeholder }}"></k-mat-date-input>
                </mat-form-field>
              </div>

            </div>
          </form>

          <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-button matStepperPrevious>{{ text.prev }}</button>
            <button mat-button matStepperNext [disabled]="step3.invalid">{{ text.next }}</button>
          </div>
        </mat-step>

        <!-- Sign up Step 4 -->
        <mat-step>
          <ng-template matStepLabel>
            {{ text.sign_up_step4 }}: {{ text.sign_up_step4_title }}
          </ng-template>
          <div ngClass.xs="container-step-xs" ngClass.gt-xs="container-step">

            Content 4

          </div>

          <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-button matStepperPrevious>{{ text.prev }}</button>
            <button mat-button type="submit" (click)="submit()" [disabled]="step1.invalid || step2.invalid || step3.invalid">{{ text.done }}</button>
          </div>
        </mat-step>

      </mat-vertical-stepper>
    </mat-card>
  </div>
</div>
