.container {
  width: 100%;
  max-width: 800px;
  align-self: center;
}

.container-step {
  padding: 24px;
  padding-top: 8px;
}

.container-step-xs {
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 24px;
}

.row {
  padding: 8px 0;
}

.button-term {
  width: 100%;
  text-align: left;
}

.text-option {
  font-size: 10px;
}

.input-label {
  padding-right: 16px;
  width: 96px;
}

.include-message {
  margin-bottom: 48px;
}

.img-welcome {
  width: 90%;
  height: 90%;
}

.text-welcome {
  font-size: 2em;
}
