.container {
  width: 100%;
  max-width: 800px;
  align-self: center;
}

.container-step {
  padding: 24px;
  padding-top: 8px;
}

.container-step-xs {
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 24px;
}

.sign-up-row {
  padding: 8px 0;
}

.message-done {
  color: green;
}

.message-error {
  color: #f44336;
}

.message-agreement {
  font-size: 12px;
}

.input-label {
  padding-right: 16px;
}

.button-term {
  width: 100%;
  text-align: left;
}

.text-option {
  font-size: 10px;
}

.include-message {
  margin-bottom: 48px;
}

.container-gender {
  height: 80px;
}
