.k-sidenav {
  width: 240px;
}

.k-content {
  margin: 0;
  padding: 16px;
  padding-top: 64px;
  min-height: 0;
  min-height: -webkit-calc(100vh - 112px);
  min-height: -moz-calc(100vh - 112px);
  min-height: calc(100vh - 112px);
}

.k-footer {
  margin: 0;
  padding: 0;
  height: 32px;
}
